Cliente/Connected Services/Servidor/ImplementacionRegistrarUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ImplementacionRegistrarUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioRegistrarUsuario_ValidarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarDatos" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_ValidarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_ValidarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_ValidarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_EnviarCodigoCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_EnviarCodigoCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioRegistrarUsuario">
    <wsdl:operation name="ValidarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/ValidarDatos" message="tns:IServicioRegistrarUsuario_ValidarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/ValidarDatosResponse" message="tns:IServicioRegistrarUsuario_ValidarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/ValidarCorreo" message="tns:IServicioRegistrarUsuario_ValidarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/ValidarCorreoResponse" message="tns:IServicioRegistrarUsuario_ValidarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/EnviarCodigoCorreo" message="tns:IServicioRegistrarUsuario_EnviarCodigoCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/EnviarCodigoCorreoResponse" message="tns:IServicioRegistrarUsuario_EnviarCodigoCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/RegistrarUsuario" message="tns:IServicioRegistrarUsuario_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/RegistrarUsuarioResponse" message="tns:IServicioRegistrarUsuario_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioRegistrarUsuario" type="tns:IServicioRegistrarUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarDatos">
      <soap:operation soapAction="http://tempuri.org/IServicioRegistrarUsuario/ValidarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreo">
      <soap:operation soapAction="http://tempuri.org/IServicioRegistrarUsuario/ValidarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoCorreo">
      <soap:operation soapAction="http://tempuri.org/IServicioRegistrarUsuario/EnviarCodigoCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioRegistrarUsuario/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImplementacionRegistrarUsuario">
    <wsdl:port name="BasicHttpBinding_IServicioRegistrarUsuario" binding="tns:BasicHttpBinding_IServicioRegistrarUsuario">
      <soap:address location="http://localhost:8082/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>