Cliente/Connected Services/ServicioLogin/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="claveUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esInvitado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fotoPerfil" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
</xs:schema>