Cliente/Connected Services/ServiciosJuego/ImplementacionJuego.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ImplementacionJuego" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioJuego_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioChat_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8084/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8084/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8084/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioJuego_CrearPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_CrearPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_UnirsePartida_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirsePartida" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_UnirsePartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnirsePartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_CambiarConfiguracionPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarConfiguracionPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_CambiarDatosJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarDatosJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_RetornarDatosJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarDatosJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_RetornarDatosJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarDatosJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_RetornarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_RetornarPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_IniciarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_SalirPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_ActualizarPartida_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_ActualizarPartida_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_ActualizarDatos_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDatos" />
  </wsdl:message>
  <wsdl:message name="IServicioJuego_ActualizarDatos_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioChat_Unirse_InputMessage">
    <wsdl:part name="parameters" element="tns:Unirse" />
  </wsdl:message>
  <wsdl:message name="IServicioChat_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IServicioChat_ProbarConexion_InputMessage">
    <wsdl:part name="parameters" element="tns:ProbarConexion" />
  </wsdl:message>
  <wsdl:message name="IServicioChat_ProbarConexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProbarConexionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioChat_Salir_InputMessage">
    <wsdl:part name="parameters" element="tns:Salir" />
  </wsdl:message>
  <wsdl:message name="IServicioChat_RecibirMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensaje" />
  </wsdl:message>
  <wsdl:portType name="IServicioJuego">
    <wsdl:operation name="CrearPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/CrearPartida" message="tns:IServicioJuego_CrearPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJuego/CrearPartidaResponse" message="tns:IServicioJuego_CrearPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirsePartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/UnirsePartida" message="tns:IServicioJuego_UnirsePartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJuego/UnirsePartidaResponse" message="tns:IServicioJuego_UnirsePartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarConfiguracionPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/CambiarConfiguracionPartida" message="tns:IServicioJuego_CambiarConfiguracionPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarDatosJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/CambiarDatosJugador" message="tns:IServicioJuego_CambiarDatosJugador_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarDatosJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/RetornarDatosJugador" message="tns:IServicioJuego_RetornarDatosJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJuego/RetornarDatosJugadorResponse" message="tns:IServicioJuego_RetornarDatosJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/RetornarPartida" message="tns:IServicioJuego_RetornarPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJuego/RetornarPartidaResponse" message="tns:IServicioJuego_RetornarPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/IniciarPartida" message="tns:IServicioJuego_IniciarPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/SalirPartida" message="tns:IServicioJuego_SalirPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPartida">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJuego/ActualizarPartida" message="tns:IServicioJuego_ActualizarPartida_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/ActualizarPartidaResponse" message="tns:IServicioJuego_ActualizarPartida_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatos">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJuego/ActualizarDatos" message="tns:IServicioJuego_ActualizarDatos_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJuego/ActualizarDatosResponse" message="tns:IServicioJuego_ActualizarDatos_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IServicioChat">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unirse">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioChat/Unirse" message="tns:IServicioChat_Unirse_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioChat/EnviarMensaje" message="tns:IServicioChat_EnviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ProbarConexion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioChat/ProbarConexion" message="tns:IServicioChat_ProbarConexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioChat/ProbarConexionResponse" message="tns:IServicioChat_ProbarConexion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Salir">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioChat/Salir" message="tns:IServicioChat_Salir_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RecibirMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioChat/RecibirMensaje" message="tns:IServicioChat_RecibirMensaje_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioJuego" type="tns:IServicioJuego">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioJuego_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/CrearPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirsePartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/UnirsePartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarConfiguracionPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/CambiarConfiguracionPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CambiarDatosJugador">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/CambiarDatosJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RetornarDatosJugador">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/RetornarDatosJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/RetornarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/IniciarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalirPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/SalirPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/ActualizarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatos">
      <soap12:operation soapAction="http://tempuri.org/IServicioJuego/ActualizarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioChat" type="tns:IServicioChat">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioChat_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Unirse">
      <soap12:operation soapAction="http://tempuri.org/IServicioChat/Unirse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IServicioChat/EnviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ProbarConexion">
      <soap12:operation soapAction="http://tempuri.org/IServicioChat/ProbarConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Salir">
      <soap12:operation soapAction="http://tempuri.org/IServicioChat/Salir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <soap12:operation soapAction="http://tempuri.org/IServicioChat/RecibirMensaje" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImplementacionJuego">
    <wsdl:port name="NetTcpBinding_IServicioJuego" binding="tns:NetTcpBinding_IServicioJuego">
      <soap12:address location="net.tcp://localhost:8083/Juego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8083/Juego</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-2CEP8E3\Saúl</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioChat" binding="tns:NetTcpBinding_IServicioChat">
      <soap12:address location="net.tcp://localhost:8083/Chat" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8083/Chat</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-2CEP8E3\Saúl</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>