Cliente/Connected Services/ServiciosJuego/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8084/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
  <xs:element name="CrearPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claveJugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="CrearPartidaResult" nillable="true" type="q1:Partida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirsePartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element minOccurs="0" name="claveJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirsePartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnirsePartidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarConfiguracionPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="partidaLocal" nillable="true" type="q2:Partida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarDatosJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="datosLocales" nillable="true" type="q3:DatosJugadorPartida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarDatosJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarDatosJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="RetornarDatosJugadorResult" nillable="true" type="q4:ArrayOfDatosJugadorPartida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="RetornarPartidaResult" nillable="true" type="q5:Partida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="datos" nillable="true" type="q6:DatosJugadorPartida" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="partidaLocal" nillable="true" type="q7:Partida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="partidaLocal" nillable="true" type="q8:Partida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPartidaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="datos" nillable="true" type="q9:DatosJugadorPartida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDatosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unirse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarConexion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarConexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProbarConexionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Salir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeCompleto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>