Cliente/Connected Services/ServiciosGestionUsuarios/ImplementacionGestionUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ImplementacionGestionUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioRegistrarUsuario_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioLogin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioPersonalizarPerfil_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioCambiarContrasenia_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Interfaces" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioRegistrarUsuario_EnviarCodigoCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_EnviarCodigoCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_ValidarNombreNoRepetido_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombreNoRepetido" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_ValidarNombreNoRepetido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombreNoRepetidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_ValidarCorreoNoRepetido_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoNoRepetido" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistrarUsuario_ValidarCorreoNoRepetido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoNoRepetidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonalizarPerfil_GuardarCambios_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCambios" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonalizarPerfil_GuardarCambios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCambiosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCambiarContrasenia_CambiarContrasenia_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarContrasenia" />
  </wsdl:message>
  <wsdl:message name="IServicioCambiarContrasenia_CambiarContrasenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarContraseniaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCambiarContrasenia_EnviarCorreoRecuperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoRecuperacion" />
  </wsdl:message>
  <wsdl:message name="IServicioCambiarContrasenia_EnviarCorreoRecuperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoRecuperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCambiarContrasenia_VerificarExistenciaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarExistenciaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioCambiarContrasenia_VerificarExistenciaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarExistenciaUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioRegistrarUsuario">
    <wsdl:operation name="EnviarCodigoCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/EnviarCodigoCorreo" message="tns:IServicioRegistrarUsuario_EnviarCodigoCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/EnviarCodigoCorreoResponse" message="tns:IServicioRegistrarUsuario_EnviarCodigoCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/RegistrarUsuario" message="tns:IServicioRegistrarUsuario_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/RegistrarUsuarioResponse" message="tns:IServicioRegistrarUsuario_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarNombreNoRepetido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/ValidarNombreNoRepetido" message="tns:IServicioRegistrarUsuario_ValidarNombreNoRepetido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/ValidarNombreNoRepetidoResponse" message="tns:IServicioRegistrarUsuario_ValidarNombreNoRepetido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreoNoRepetido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/ValidarCorreoNoRepetido" message="tns:IServicioRegistrarUsuario_ValidarCorreoNoRepetido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistrarUsuario/ValidarCorreoNoRepetidoResponse" message="tns:IServicioRegistrarUsuario_ValidarCorreoNoRepetido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServicioLogin">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLogin/Login" message="tns:IServicioLogin_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLogin/LoginResponse" message="tns:IServicioLogin_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServicioPersonalizarPerfil">
    <wsdl:operation name="GuardarCambios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPersonalizarPerfil/GuardarCambios" message="tns:IServicioPersonalizarPerfil_GuardarCambios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPersonalizarPerfil/GuardarCambiosResponse" message="tns:IServicioPersonalizarPerfil_GuardarCambios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServicioCambiarContrasenia">
    <wsdl:operation name="CambiarContrasenia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCambiarContrasenia/CambiarContrasenia" message="tns:IServicioCambiarContrasenia_CambiarContrasenia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCambiarContrasenia/CambiarContraseniaResponse" message="tns:IServicioCambiarContrasenia_CambiarContrasenia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoRecuperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCambiarContrasenia/EnviarCorreoRecuperacion" message="tns:IServicioCambiarContrasenia_EnviarCorreoRecuperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCambiarContrasenia/EnviarCorreoRecuperacionResponse" message="tns:IServicioCambiarContrasenia_EnviarCorreoRecuperacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarExistenciaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCambiarContrasenia/VerificarExistenciaUsuario" message="tns:IServicioCambiarContrasenia_VerificarExistenciaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCambiarContrasenia/VerificarExistenciaUsuarioResponse" message="tns:IServicioCambiarContrasenia_VerificarExistenciaUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioRegistrarUsuario" type="tns:IServicioRegistrarUsuario">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioRegistrarUsuario_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="EnviarCodigoCorreo">
      <soap12:operation soapAction="http://tempuri.org/IServicioRegistrarUsuario/EnviarCodigoCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServicioRegistrarUsuario/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarNombreNoRepetido">
      <soap12:operation soapAction="http://tempuri.org/IServicioRegistrarUsuario/ValidarNombreNoRepetido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreoNoRepetido">
      <soap12:operation soapAction="http://tempuri.org/IServicioRegistrarUsuario/ValidarCorreoNoRepetido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioLogin" type="tns:IServicioLogin">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioLogin_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IServicioLogin/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioPersonalizarPerfil" type="tns:IServicioPersonalizarPerfil">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioPersonalizarPerfil_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GuardarCambios">
      <soap12:operation soapAction="http://tempuri.org/IServicioPersonalizarPerfil/GuardarCambios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioCambiarContrasenia" type="tns:IServicioCambiarContrasenia">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioCambiarContrasenia_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CambiarContrasenia">
      <soap12:operation soapAction="http://tempuri.org/IServicioCambiarContrasenia/CambiarContrasenia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoRecuperacion">
      <soap12:operation soapAction="http://tempuri.org/IServicioCambiarContrasenia/EnviarCorreoRecuperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarExistenciaUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServicioCambiarContrasenia/VerificarExistenciaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImplementacionGestionUsuarios">
    <wsdl:port name="NetTcpBinding_IServicioRegistrarUsuario" binding="tns:NetTcpBinding_IServicioRegistrarUsuario">
      <soap12:address location="net.tcp://localhost:8081/RegistarUsuario" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/RegistarUsuario</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TAKISZOMBI\luisp</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioLogin" binding="tns:NetTcpBinding_IServicioLogin">
      <soap12:address location="net.tcp://localhost:8081/Login" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/Login</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TAKISZOMBI\luisp</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioPersonalizarPerfil" binding="tns:NetTcpBinding_IServicioPersonalizarPerfil">
      <soap12:address location="net.tcp://localhost:8081/PersonalizarPerfil" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/PersonalizarPerfil</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TAKISZOMBI\luisp</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioCambiarContrasenia" binding="tns:NetTcpBinding_IServicioCambiarContrasenia">
      <soap12:address location="net.tcp://localhost:8081/CambiarContrasenia" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/CambiarContrasenia</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TAKISZOMBI\luisp</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>