Cliente/Connected Services/ServiciosGestionUsuarios/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Interfaces" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
  <xs:element name="EnviarCodigoCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCodigoCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCodigoCorreoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Interfaces" minOccurs="0" name="usuario" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNombreNoRepetido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNombreNoRepetidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarNombreNoRepetidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCorreoNoRepetido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCorreoNoRepetidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCorreoNoRepetidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="LoginResult" nillable="true" type="q2:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCambios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.Interfaces" minOccurs="0" name="perfil" nillable="true" type="q3:Perfil" />
        <xs:element minOccurs="0" name="claveUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCambiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarCambiosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarContraseniaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoRecuperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoRecuperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCorreoRecuperacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExistenciaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreOCorreo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExistenciaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarExistenciaUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claveJugadorRemitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarSolicitudResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirSolicitudes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirSolicitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="RecibirSolicitudesResult" nillable="true" type="q4:ArrayOfJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AceptarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorEmisor" type="xs:int" />
        <xs:element minOccurs="0" name="idJugadorReceptor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorEmisor" type="xs:int" />
        <xs:element minOccurs="0" name="idJugadorReceptor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarInvitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoJugadorInvitado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuarioInvitador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNuevaSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="solicitud" nillable="true" type="q5:Amigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarListaAmigos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarAmigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarAmigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="CargarAmigosResult" nillable="true" type="q6:ArrayOfJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorEmisor" type="xs:int" />
        <xs:element minOccurs="0" name="idJugadorReceptor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmigoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorEmisor" type="xs:int" />
        <xs:element minOccurs="0" name="claveJugadorReceptor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BloquearJugadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesbloquearJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorEmisor" type="xs:int" />
        <xs:element minOccurs="0" name="idJugadorRemitente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesbloquearJugadorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarBloqueados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorEmisor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarBloqueadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="CargarBloqueadosResult" nillable="true" type="q7:ArrayOfJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>