Cliente/Connected Services/ServiciosGestionUsuarios/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amigo" nillable="true" type="tns:ArrayOfAmigo" />
      <xs:element minOccurs="0" name="Amigo1" nillable="true" type="tns:ArrayOfAmigo" />
      <xs:element minOccurs="0" name="Bloqueado" nillable="true" type="tns:ArrayOfBloqueado" />
      <xs:element minOccurs="0" name="Bloqueado1" nillable="true" type="tns:ArrayOfBloqueado" />
      <xs:element minOccurs="0" name="DatosJugadorPartida" nillable="true" type="tns:ArrayOfDatosJugadorPartida" />
      <xs:element minOccurs="0" name="claveUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esInvitado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fotoPerfil" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="ArrayOfAmigo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Amigo" nillable="true" type="tns:Amigo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmigo" nillable="true" type="tns:ArrayOfAmigo" />
  <xs:complexType name="Amigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="Jugador1" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAmigo" type="xs:int" />
      <xs:element minOccurs="0" name="idJugadorEmisor" type="xs:int" />
      <xs:element minOccurs="0" name="idJugadorReceptor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amigo" nillable="true" type="tns:Amigo" />
  <xs:complexType name="ArrayOfBloqueado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bloqueado" nillable="true" type="tns:Bloqueado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBloqueado" nillable="true" type="tns:ArrayOfBloqueado" />
  <xs:complexType name="Bloqueado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="Jugador1" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="idBloqueado" type="xs:int" />
      <xs:element minOccurs="0" name="idJugadorEmisor" type="xs:int" />
      <xs:element minOccurs="0" name="idJugadorReceptor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bloqueado" nillable="true" type="tns:Bloqueado" />
  <xs:complexType name="ArrayOfDatosJugadorPartida">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatosJugadorPartida" nillable="true" type="tns:DatosJugadorPartida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatosJugadorPartida" nillable="true" type="tns:ArrayOfDatosJugadorPartida" />
  <xs:complexType name="DatosJugadorPartida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="Partida" nillable="true" type="tns:Partida" />
      <xs:element minOccurs="0" name="claveJugador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esAdmin" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="expulsado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="idAspecto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idDatosJugadorPartida" type="xs:int" />
      <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="puntaje" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosJugadorPartida" nillable="true" type="tns:DatosJugadorPartida" />
  <xs:complexType name="Partida">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatosJugadorPartida" nillable="true" type="tns:ArrayOfDatosJugadorPartida" />
      <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duracion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPartida" type="xs:int" />
      <xs:element minOccurs="0" name="nombreGanador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntajeVictoria" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tiempoGuerra" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partida" nillable="true" type="tns:Partida" />
  <xs:complexType name="ArrayOfJugador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Jugador" nillable="true" type="tns:Jugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugador" nillable="true" type="tns:ArrayOfJugador" />
</xs:schema>